body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  background-color: cyan;
  /* border-radius: 2px; */
  /* width: 1800px; */
}

.navbar a {
  color:white;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: black;
}

h1

{
color:white;
}
body{
  background-color: black;
}
p
{
 justify-content: space-between;
 text-align: left;
}